<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>应该配置好了.</div>
  <div>返回上一页刷新看哈效果？</div>
  <div>我就不重定向了</div>
  <div>确定没问题就可以关闭这次的viewConfig运行</div>
  <div>改运行npm run pro 启动定时器了</div>
  <div>没事的话以后也不用在启动这个命令</div>
</body>
</html>